/* From Uiverse.io by alexmaracinaru */
.give-up-btn {
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  display: flex;
  align-items: center;
  font-size: 21px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.give-up-btn:hover {
  transform: translateX(-2px);
  border: 2px solid transparent;
  background: var(--color-red-rosso);
  filter: drop-shadow(0 0 10px var(--color-red-rosso));
}

.give-up-btn>svg {
  color: white;
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.give-up-btn:hover svg {
  transform: translateX(5px);
}

.give-up-btn:hover circle {
  stroke: rgb(255, 255, 255);
}


.give-up-btn:active {
  transform: scale(0.95);
}