/* From Uiverse.io by alexmaracinaru */
.give-up-btn {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  display: flex;
  align-items: center;
  font-size: 21px;
  color: white;
}

.give-up-btn:hover {
  border: none;
  background: var(--color-red-rosso);
  color: black;
}

.give-up-btn>svg {
  color: white;
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.give-up-btn:hover svg {
  transform: translateX(5px);
  stroke: black;
}

.give-up-btn:hover circle {
  stroke: black;
}


.give-up-btn:active {
  transform: scale(0.95);
}