.submit-flag-form {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    width: 100%;
    height: 170px;
    background-color: var(--color-layout);
    border: 2px solid var(--color-white);
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 2px solid var(--blue-200);
    }

    .upper-text {
        display: flex;
        align-items: center;
        gap: 8px;

        h2 {
            font-weight: 600;
          }
    }
    
    .flag-form {
        position: relative; 
        padding-top: 10px;
        .flag-input {
            margin-left: 30px;
            height: 50px;
            width: clamp(200px, 35vw, 600px);
            background-color: var(--secondary-layout);
            border-radius: 24px;
            padding-left: 30px;
            font-size: var(--font-size-small);
            color: var(--color-white);
            
            &:hover {
                border: 2px solid var(--blue-200);
            }

            &:focus {
                outline: none;
                border: 2px solid var(--color-white);
            }
        }
    
        .submit-flag-button {
            position: absolute;
            right: 0;
            background-color: var(--color-layout);
            border: 2px solid var(--color-white);
            white-space: nowrap;
            border-radius: 50px;
            width: 160px;
            height: 60px;
            padding: 5px;
            font-size: var(--font-size-small);
            font-weight: 600;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: var(--color-white);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                border: 2px solid transparent;
                background-color: var(--blue-400);
                filter: drop-shadow(0 0 10px var(--blue-500));
                transform: translateY(-2px);
            }
        }

        .disabled {
            opacity: 0.5; /* 흐려짐 효과 */
            cursor: not-allowed; /* 금지된 커서 */
            pointer-events: none; /* 상호작용 방지 */
        }
    }
}

/* 애니메이션 정의: 빨갛게 반짝이는 효과 */
@keyframes shake {
    0% { 
      transform: translateX(0);
      border-color: #f8d7da;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      opacity: 0.8;
    }
    25% { 
      transform: translateX(-5px);
      border-color: #f8d7da;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      opacity: 0.8;
    }
    50% { 
      transform: translateX(5px);
      border-color: #f8d7da;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      opacity: 0.8;
    }
    75% { 
      transform: translateX(-5px);
      border-color: #f8d7da;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      opacity: 0.8;
    }
    100% { 
      transform: translateX(0);
      border-color: #f8d7da;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      opacity: 0.8;
    }
  }
  
  .shake-error {
    animation: shake 0.5s ease-in-out;
  }