.board {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 16px;
  background: var(--color-background-transparent);
  border-radius: 24px;

  .leaderboard_container {
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(40px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;

    .current_user {
      width: 100%;
    }

    .leaderboard_table {
      width: 100%;
      height: 100%;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;

      color: var(--color-white);
      font-family: var(--font-roboto);

      .leaderboard_data {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .leaderboard_rank,
        .leaderboard_level,
        .leaderboard_exp {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .leaderboard_rank,
        .leaderboard_level {
          width: 50px;
          min-width: 30px;
        }

        .leaderboard_userinfo {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .leaderboard_avatar {
            font-size: var(--font-size-mid);
            width: clamp(24px, 3vw, 32px);
            height: clamp(24px, 3vw, 32px);
          }

          .leaderboard_username {
            padding-left: 20px;
            padding-right: 5px;
          }
        }

        .leaderboard_exp {
          width: 200px;
          justify-content: flex-end;
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;

      .page_button_left,
      .page_button_right {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        background: var(--color-layout);
        border-radius: 5px;
        margin-left: 16px;
        margin-right: 16px;
        width: 30px;
        height: 30px;
        transition: all 0.3s ease-in-out;
      }

      .page_button_left {
        &:hover {
          background: var(--blue-400);
          transform: translateX(-2px);
          filter: drop-shadow(0 0 10px var(--blue-500));
        }
      }

      .page_button_right {
        &:hover {
          background: var(--blue-400);
          transform: translateX(2px);
          filter: drop-shadow(0 0 10px var(--blue-500));
        }
      }

      .number_button {
        background: none;
        width: 30px;
        height: 30px;
        color: var(--color-white);
        transition: all 0.3s ease-in-out;
        font-weight: 700;
        border-radius: 4px;
        &.active {
          border: 1px solid var(--blue-200);
          transform: translateY(-2px);
          filter: drop-shadow(0 0 10px var(--blue-200));
          &:hover {
            background-color: var(--blue-400);
            border: 1px solid transparent;
          }
        }
  
        &:hover {
          background-color: var(--blue-400);
          filter: drop-shadow(0 0 10px var(--blue-500));
          transform: translateY(-2px);
        }
      }
    }
  }
}

.goldMedal,
.silverMedal,
.bronzeMedal {
  margin-right: 16px;
  /* 메달 아이콘과 순위 간격 */
}

.goldMedal {
  color: gold;
}

.silverMedal {
  color: silver;
}

.bronzeMedal {
  color: #cd7f32;
  /* 청동색 */
}

.high_rank {
  font-size: var(--font-size-mid);
}