.current_user_container {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  border-radius: 24px 24px 0 0;
  background: var(--gradient-container);

  justify-content: space-around;
  align-items: center;

  font-size: var(--font-size-large);
  color: var(--color-white);
  font-family: var(--font-ibm-plex-sans);

  .user_rank,
  .user_level {
    min-width: 50px;
    font-size: var(--font-size-mid);
    text-align: center;
  }

  .info_container {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    .user_name {
      padding-left: 32px;
      padding-right: 8px;
    }
  }

  .user_exp {
    text-align: center;
    min-width: 120px;
  }
}