@use "../style" as *;

.board {
  @include flex_center;

  .leaderboard_container {
    @include background_set;
    position: relative;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .leader_current_user {
      width: 100%;
      height: 120px;
    }
  }

  .leaderboard_table {
    width: 100%;
    padding: 24px 48px;
    display: flex;
    flex-direction: column;

    gap: 16px;

    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    color: var(--color-white);
    font-family: var(--font-ibm-plex-sans);

    .leaderboard_data {
      display: flex;
      height: 50px;
      justify-content: space-around;
      align-items: center;

      .leaderboard_rank,
      .leaderboard_level,
      .leaderboard_exp {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .leaderboard_rank {
        width: 50px;
      }

      .leaderboard_level {
        width: 50px;
      }

      .leaderboard_userinfo {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .leaderboard_username {
          padding-left: 20px;
          padding-right: 5px;
        }
      }

      .leaderboard_exp {
        width: 200px;
        justify-content: flex-end;
      }
    }
  }

  .pagination {
    @include flex_center;


    .page_button {
      @include flex_center;

      color: var(--color-white);
      width: 30px;
      height: 30px;
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 5px;
    }

    .number_button {
      background: none;
      width: 20px;
      height: 30px;
      color: var(--color-white);
    }
  }
}

.goldMedal,
.silverMedal,
.bronzeMedal {
  margin-right: 10px;
  /* 메달 아이콘과 순위 간격 */
}

.goldMedal {
  color: gold;
}

.silverMedal {
  color: silver;
}

.bronzeMedal {
  color: #cd7f32;
  /* 청동색 */
}

.high_rank {
  font-size: 24px;
}