.machine-list-page {
    width: var(--container-width);
    min-width: 500px;
    min-height: var(--container-height);
    display: flex;
    flex-direction: column;
    gap: 16px;

    .gradient-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .machine-banner {
            width: calc(100% - 221px);
            height: 213px;
            border-radius: var(--border-container);
            background: var(--gradient-container);
            /* 독립적인 그라데이션 */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .register-machine {
            min-width: 213px;
            height: 213px;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            background: var(--color-background-transparent);

            &:hover {
                background: linear-gradient(96.7deg, var(--blue-500), var(--blue-300));
                opacity: 0.9;

                .machine,
                .plus,
                .register_text {
                    color: var(--color-dimgray);
                }
            }

            .machine {
                position: relative;
                left: 15px;
                color: var(--color-white);
            }

            .plus {
                position: relative;
                left: 0px;
                bottom: 35px;
                color: var(--color-white);
            }

            .register_text {
                font-size: var(--font-size-small);
                font-weight: 500;
                color: var(--color-white);
            }
        }
    }
}