@use "../style" as *;

.machine-banner-container {
  width: 100%;
  max-width: 1200px;
  height: 213px;

  .banner-slide {
    padding: 20px 40px 0;
    height: 213px;
    background: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    @include flex_center;

    .banner-contents {
      display: grid;
      align-items: center;
      width: 90%;
      min-width: calc(500px - 221px);
      height: 173px;
      grid-template-columns: 30% 40% 30%;
      grid-template-rows: 30% 20% 20% 30%;

      h3 {
        width: 100%;
        grid-column: 1/-1;
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
      }

      .machine-avatar {
        justify-self: center;
        grid-row: 1 / -1;
        grid-row-start: 2;
        width: 80px;
        height: 80px;
        top: 0;
        font-size: var(--font-title);
      }


      h4 {
        grid-column: 2/3;
        font-size: var(--font-size-large);
        color: var(--color-white);
      }

      p {
        color: var(--color-white);
        font-size: 1rem;
      }

      .banner-category,
      .banner-exp,
      .banner-played {
        font-size: var(--font-size-small);
      }

      .rating-box {
        height: 100%;
        display: flex;
        align-items: center;
        grid-column: 3/4;
        grid-row: 2/3;
        gap: 8px;

        .rating {
          color: var(--color-white);
          font-weight: 600;
        }
      }


      .MuiRating-root {
        color: #ffd700;
        /* Gold color for filled stars */
      }

      .MuiRating-iconEmpty {
        color: #ccc;
        /* Grey color for empty stars */
      }

      button {
        @include button_color;
        width: 100%;
        grid-column: 3;
        grid-row: 4;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: var(--font-size-small);
      }
    }

  }

  /* Customize Carousel Indicators */
  .MuiCarousel-indicator {
    background-color: #ccc;
    /* Inactive indicator color */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
  }

  .MuiCarousel-indicator.Mui-selected {
    background-color: #3f51b5;
    /* Active indicator color */
  }

  .MuiSvgIcon-root {
    font-size: 1.2rem;
  }

  .MuiCarousel-indicators {
    bottom: 10px;
  }

  .MuiCarousel-navButtons {
    top: 45%;
  }
}