.machine-main {
    margin: 0;
    padding: 30px;

    .machine-info-upper{
        width: 100%;
        height: 220px;

        padding-right: 30px;
        position: relative;

        .back-btn-container {
            width: 100%;
            height: 70px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
        
            .back-button {
                position: relative;
                background-size: cover;
                border: none;
                margin: 0px;
                background-color: transparent;
                width: 30px;
                min-width: 10px;
                height: 36px;
                display: flex;
        
                filter: brightness(0) invert(1);
                cursor: pointer;
            }
        }

        .info-container{
            width: 100%;
            display: flex;
            align-items: center;

            .machine-image{
                background-size: cover;
                background-color: transparent;
                width: 120px;
                min-width: 120px;
                height: 120px;
                margin-right: 20px;
            }

            .name-category {
                width: 30%;
                height: 70px;
                min-width: 400px;

                .machine-name {
                    width: 100px;
                    font-size: 30px;
                }
                .machine-category{
                    width: 100px;
                }
            }

            .exp-repute {
                width: 70%;
                height: 70px;

            }
        }
    }
    .machine-info-lower {
        width: 100%;
    }
    
}
