@use "../style" as *;

.machine-list-page {
    width: 70vw;
    height: auto;

    .gradient-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        /* 두 div 사이의 간격 추가 */


        .machine-banner {
            width: calc(100% - 233px);
            height: 213px;
            border-radius: 30px;
            background: linear-gradient(115deg, #222222, #1083B4);
            /* 독립적인 그라데이션 */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .register-machine {
            width: 213px;
            height: 213px;
            border-radius: 30px;
            background: linear-gradient(115deg, #107DAC, #0A9FDF);
            /* 독립적인 그라데이션 */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .machine {
                position: relative;
                left: 15px
            }

            .plus {
                position: relative;
                left: 0px;
                bottom: 35px;
            }

            .register-text {
                font-size: 15px;
                font-weight: 500;
                color: white;
            }

            .button-background {
                width: 140px;
                height: 35px;
                border-radius: 60px;
                background-color: black;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }
    }

    .machine-list {
        @include background_set;
        width: 100%;
        height: 500px;
        border-radius: 30px;
        margin-top: 40px;
        /* 위 요소와의 간격 추가 */
    }
}