@use '../style.scss';

.machine-review-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-background-transparent);

  h2 {
    text-align: center;
    margin-bottom: 24px;
    color: white;
    font-weight: bold;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }

  .machine-review-form-rating,
  .machine-review-form-content {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
  }

  .machine-review-form-rating label {
    color: #ffd700;
  }

  .machine-review-form-rating .rating,
  .machine-review-form-content label {
    color: rgb(202, 202, 202);
    margin-bottom: 5px;
    font-weight: bold;
  }

  .MuiRating-iconEmpty {
    color: #ccc;
    /* Grey color for empty stars */
  }

  textarea {
    resize: vertical;
    min-height: 200px;
    padding: 10px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
    color: white;

    &:focus {
      outline: none;
    }
  }

  .machine-review-form-submit {
    float:right;
    background-color: var(--blue-500);
    color: white;
    border: 2px solid var(--color-white);
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--blue-200);
      border: 2px solid transparent;
      transform: translateY(-2px);
    }
  }
}