@use "../style" as *;

.machine_list_container {
  background: var(--color-background-transparent);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 24px;

  .machine_list_title {
    display: flex;
    position: relative;
    font-size: var(--font-title);
    letter-spacing: -0.01em;
    font-weight: 600;
    color: var(--color-white);
    text-align: left;
    height: 62px;
  }

  .machine_list_table {
    width: 100%;
    display: table;
    flex-direction: column;
    border-collapse: collapse;

    tbody {
      @include scrollbar-none;
      display: block;
      overflow-y: auto;
      max-height: 350px;
    }

    thead {
      display: table;
      width: 100%;
      position: sticky;
      top: 0;
      background-color: var(--color-background);
      z-index: 1;
    }

    .table_text_box {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
      white-space: nowrap;
      border-bottom: 1px solid var(--color-list-border);

      .table_image,
      .table_name,
      .table_category,
      .table_rating,
      .table_playCount,
      .table_details {
        font-size: var(--font-size-small);
        letter-spacing: -0.01em;
        font-weight: 600;
        color: var(--color-white-200);
        text-align: left;
      }

      .table_name {
        width: 300px;
      }

      .table_category {
        width: 170px;
        display: flex;
        gap: 10px;
        position: relative;
        align-items: center;

        .category_filter_toggle {
          position: absolute;
          left: 80px;
          height: 100%;
          cursor: pointer;
          align-items: center;
          justify-content: center;

          .category_filter {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;

            top: 30px;
            gap: 8px;
            background: var(--blue-500);
            height: 50px;
            padding: 8px;
            border: 1px solid white;
            border-radius: 8px;
            z-index: 10;

            .category_label {
              color: var(--color-white);
              font-size: var(--font-size-small);
            }

            .category_select {
              border: 2px solid var(--color-white);
              border-radius: 4px;
              padding: 4px;
              background: none;
              color: var(--color-white);
            }

            .category {
              background: var(--blue-400);
              border: none;
            }
          }
        }
      }

      .table_rating {
        width: 170px;
      }

      .table_playCount,
      .table_details {
        width: 60px;
      }

      .table_details {
        text-align: center;
      }

    }

    .machine_box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid var(--color-list-border);

      .machine_name,
      .machine_category,
      .machine_playCount,
      .machine_rating,
      .machine_details,
      .machine_playCount {
        display: flex;
        align-items: center;
        text-align: left;

        height: 70px;
        font-size: var(--font-size-small);
        letter-spacing: -0.01em;
        font-weight: 600;
        color: var(--color-white-200);
      }

      .machine_name {
        width: 300px;
        justify-content: flex-start;
        gap: 16px;
      }

      .machine_details {
        text-align: center;
        justify-content: center;

        .details_button {
          background: none;
          border: none;
          cursor: pointer;
        }
      }

      .machine_category,
      .machine_rating {
        width: 170px;
      }

      .machine_details,
      .machine_playCount {
        width: 60px;
      }

      &.no-data {
        text-align: center;
        padding: 20px;
        color: #888;
      }
    }
  }
}

.MuiRating-root {
  color: #ffd700;
  /* Gold color for filled stars */
}

.MuiRating-iconEmpty {
  color: #fff;
  /* Grey color for empty stars */
}