.machine-list-page {
    width: 70vw;
    height: 80%;

    .gradient-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .machine-banner {
            width: calc(100% - 221px);
            height: 213px;
            border-radius: 30px;
            background: linear-gradient(115deg, #222222, #1083B4);
            /* 독립적인 그라데이션 */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .register-machine {
            width: 213px;
            height: 213px;
            margin-left: 8px;
            border-radius: 30px;
            background: linear-gradient(115deg, #107DAC, #0A9FDF);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .machine {
                position: relative;
                left: 15px
            }

            .plus {
                position: relative;
                left: 0px;
                bottom: 35px;
            }

            .register-text {
                font-size: 15px;
                font-weight: 500;
                color: white;
            }

            .button-background {
                width: 140px;
                height: 35px;
                border-radius: 60px;
                background: linear-gradient(300deg, #0C2144, #16488F);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }
    }

    .machine-list {
        background-color: rgba(19, 21, 26, 0.7);
        width: 100%;
        height: 500px;
        border-radius: 30px;
        margin-top: 16px;
    }
}