.machine-list-container {
  width: 100%;
  padding: 32px 48px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .machine-list-title {
    width: 368px;
    display: flex;
    position: relative;
    font-size: 40px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-white);
    text-align: left;
    height: 62px;
  }

  .machine-list-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;

    thead {
      width: 100%;
      display: flex;
      
      
      tr {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        white-space: nowrap;
        border-bottom: 1px solid var(--color-list-border);
        
        th {
          font-size: 18px;
          color: #b5b7c0;
          &.table-image {
            width: 70px;
          }
        }

        .table-image,
        .table-name,
        .table-category,
        .table-rating,
        .table-playCount,
        .table-details {
          font-size: 18px;
          letter-spacing: -0.01em;
          font-weight: 600;
          color: #b5b7c0;
          text-align: left;
        }

        .table-name {
          width: 150px;
        }

        .table-category {
          width: 190px;
          display: flex;
          gap: 10px; 
          position: relative; 

          /* 텍스트와 아이콘을 양쪽 정렬 */
          .category-filter-toggle {
            align-items: center;
            cursor: pointer;
            position: relative;

            .category-filter {
              position: absolute; /* 드롭다운을 절대 위치로 고정 */
              top: 24px; /* 아이콘 아래쪽에 드롭다운 표시 */
              left: 0;
              background-color: white;
              border: 1px solid #ccc;
              padding: 8px;
              border-radius: 4px;
              z-index: 10;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            }
          }
        }

        .table-rating{
          width: 190px;
        }



      }
    }

    tbody {
      tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--color-list-border);
        // &:nth-child(even) {
        //   background-color: #f2f2f2;
        // }
        

        td {
          display: flex;
          align-items: center;
          text-align: left;

          color: var(--color-white-200);
          padding: 0 12px;
          height: 70px;
          font-size: 18px;
          letter-spacing: -0.01em;
          &.machine-img {
            text-align: center;
          }

          &.machine-name,
          &.machine-category,
          &.machine-playCount {
            font-weight: 600;
          }

          &.machine-details {
            text-align: center;

            .details-button {
              background: none;
              border: none;
              cursor: pointer;
              color: #007bff;

              &:hover {
                color: #0056b3;
              }
            }
          }

          &.no-data {
            text-align: center;
            padding: 20px;
            color: #888;
          }

          
          
        }
        .machine-name{
          width: 160px;
          
          justify-content: flex-start;
        }
        .machine-category{
          width: 180px;
          justify-content: flex-start;
        }
        .machine-rating{
          width: 240px;
          .MuiRating-iconEmpty {
            color: #999999;
            /* Grey color for empty stars */
          }
        }
        .machine-playCount,
        .machine-details{
          width: 60px;
        }
      }
    }
  }
}
