.challenge-detail{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 10px;
    p {
        margin: 20px;
    }
    input {
        height: 40px;
        width: 80%;
        min-width: 500px;
        margin-left: 30px;
        background-color: var(--white200);
        border-radius: 2px;
        text-decoration: none;
    }
}