 .background-image {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100vh;
 	background-image: url('../images/Fullscreen.png');
 	background-position: center;
 	background-size: cover;
 	background-repeat: no-repeat;
	transition: width 0.5s;
 }


 .change-background {
 	animation: change-background 1s forwards;
	width: 80%;
 }

 @keyframes change-background {
 	0% {
 		background-image: url('../images/Fullscreen.png');
 	}

 	100% {
 		background-image: url('../images/Fullscreen_black.png');
 	}
 }

 .content-wrapper {
 	background-color: white;
 	position: fixed;
 	top: 0;
 	left: 100%;
 	width: 20%;
 	height: 100vh;
 	align-content: center;
	text-align: center;
	transition: left 0.5s; /* 변경 */
	color: var(--black200);

	&.visible {
	  left: 80%; /* 변경 */
	}

 	.login-form {
 		top: 200px;
 		width: 100%;
 		height: 400px;
		margin-top: 15%;
 		.input-box {
 			width: 100%;
 			height: 50px;
			position: relative;
			margin-bottom: 10px;
 			input {
 				height: 100%;
				width: 100%;
 				background: #e7e7e7;
 				outline: none;
 				border: none;
 				font-size: 16px;
 				color: #333;
 				padding-left: 20px;
				margin-right: 10px;
 				&::placeholder {
 					font-weight: 600;
 					color: #333;
 				}
 			}
 		}

		button{
			height: 50px;
			width: 100%;
			border: none;
			margin-top: 40px;
		 }
 	}
 }