@mixin flex-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@mixin add-separator($margin-bottom: 10px, $border-color: #ccc, $border-width: 1px) {
  margin-bottom: $margin-bottom;
  border-bottom: $border-width solid $border-color;
  padding-bottom: 10px;
}