.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal_content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 16px 32px rgba(44, 39, 56, 0.04), 0px 32px 64px rgba(44, 39, 56, 0.08);
    border-radius: 16px;
    background-color: var(--color-background-transparent);
    max-width: 550px;
    width: 90%;
    position: relative;
    box-shadow: 0 5px 15px var(--black200);
    padding: 8px;

    .modal_close {
      display: flex;
      justify-content: flex-end;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--text-secondary);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--blue-200);
        transform: translateX(-2px);
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}