/* frontend/src/assets/scss/contest/AddContestForm.scss */
@use 'sass:color';
@use "../style" as *;



.add-contest-form {
    @include background_set;
    position: relative;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap: 8px;

    overflow: scroll;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 16px;
        color: white;
    }

    .IconButton {
        width: 34px;
        height: 34px;
        background-color: gray;
        border-radius: 5px;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: rgb(83, 83, 83);
        }
    }

    label {
        font-weight: bold;
        color: rgb(202, 202, 202);

    }

    input,
    select,
    textarea {
        margin-left: 8px;
        background-color: rgb(58, 58, 58);
        color: white;

        &:focus {
            border-color: #5b9bd5;
            box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
        }
    }

    .create-container {
        flex: 1 0 auto;
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 16px;
        margin-left: 24px;

        label {
            font-weight: bold;
            color: rgb(202, 202, 202);
        }

        input,
        select,
        textarea {
            margin-left: 8px;
            background-color: rgb(58, 58, 58);
            color: white;

            &:focus {
                border-color: #5b9bd5;
                box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
            }
        }

        textarea {
            margin-top: 0.5rem;
            resize: none;
            min-width: 60%;
            max-width: 60%;
            min-height: 100px;
            max-height: 100px;
            padding: 0.5rem;
            border-radius: 10px;
            outline: none;
            transition: all 0.3s;
            display: inline-flex;
        }

        .name-container {
            grid-column-start: 1;

            input {
                width: 50%;
                padding: 0.5rem;
                border-radius: 10px;
                outline: none;
                transition: all 0.3s;
            }
        }

        .description-container {
            grid-column-start: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin: 0 auto;

            textarea {
                margin-top: 0.5rem;
                resize: none;
                min-width: 60%;
                max-width: 60%;
                min-height: 100px;
                max-height: 100px;
                padding: 0.5rem;
                border-radius: 10px;
                outline: none;
                transition: all 0.3s;
                display: inline-flex;
            }
        }

        .exp-container {
            grid-column-start: 1;

            input {
                width: 10%;
                padding: 0.5rem;
                border-radius: 10px;
                outline: none;
                transition: all 0.3s;
            }
        }

        .start-time-container {
            grid-column-start: 1;

            input {
                width: 50%;
                padding: 0.5rem;
                border-radius: 10px;
                outline: none;
                transition: all 0.3s;
            }

        }

        .end-time-container {
            grid-column-start: 1;

            input {
                width: 50%;
                padding: 0.5rem;
                border-radius: 10px;
                outline: none;
                transition: all 0.3s;
            }
        }

        .add-machine-container {
            grid-column-start: 1;

            label {
                display: block;
            }

            .machine-field {
                display: inline-block;
            }

            input {
                width: 20vw;
                margin-top: 0.5rem;
                padding: 0.5rem;
                margin-left: 0px;
                border-radius: 10px;
                outline: none;
                transition: all 0.3s;
            }

            .suggestions-list {
                display: flex;
                flex-direction: column;
                position: absolute;
                align-items: center;
                justify-content: center;
                width: 20vw;


                background: var(--blue-400);
                border: 1px solid white;
                z-index: 10;

                li {
                    width: 100%;
                    padding: 4px;
                    color: var(--color-white);
                    font-size: var(--font-size-small);
                    cursor: pointer;

                    &:hover {
                        background-color: #1A67d2;
                    }
                }
            }

            .no-suggestions{
                position: absolute;
                width: 20vw;

                background: var(--blue-400);
                color: var(--color-white);
                font-size: var(--font-size-small);
                border: 1px solid white;
                z-index: 10;
                padding: 4px;
            }

            button {
                padding: 0.47rem 0.6rem;
                margin-left: 0.5rem;
                background-color: var(--blue-500);
                color: white;
                border: 1.5px solid var(--color-white);
                border-radius: 20px;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: var(--blue-200);
                    border: 1.5px solid transparent;
                }

                &.delete-machine {
                    &:hover {
                        background-color: #c9302c;
                    }
                }
            }
        }

        .add-contest-form-button {
            grid-column-start: 2;
            grid-row-start: 7;
            align-self: flex-end;
            justify-self: right;
            height: 48px;

            button[type="submit"] {
                padding: 0.75rem 1.5rem;
                font-weight: bold;
                background-color: var(--blue-500);
                color: white;
                border: 1.5px solid var(--color-white);
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s;
    
                &:hover {
                    background-color: var(--blue-200);
                    border: 1.5px solid transparent;
                }
            }
        }
    }
}