@use "../style" as *;
* {
    &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Opera
    }
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE, Edge
}
.contest_detail_container {
    @include background_set;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(40px);
    overflow-y: auto;
    height: 100%;
    padding: clamp(4px, 1vw, 16px);
    gap: clamp(2px, 1vw, 16px);

    .contest_detail_page {
        width: 100%;
        min-height: 40%;
        padding: clamp(8px, 2vw, 16px);
        position: relative;

        .detail {
            width: 100%;
            height: 100%;
        }

        .participate_button {
            position: absolute;
            right: clamp(24px, 5vw, 83px);
            top: clamp(190px, 15vh, 250px);
            font-weight: 600;
            width: clamp(100px, 15vw, 140px);
            height: clamp(36px, 6vh, 48px);
            box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
            border-radius: 6px;
            background: var(--blue-500);
            color: var(--color-white);
            font-size: clamp(14px, 2vw, 16px);
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            @media (max-width: 768px) {
                position: relative;
                right: auto;
                top: auto;
                margin: 16px auto;
                display: block;
            }

            &:hover {
                background: var(--blue-200);
                transform: translateY(-2px);
                filter: drop-shadow(0 0 10px var(--blue-500));
            }
        }
    }

    .contestLeaderboardTable {
        width: 100%;
        height: auto;
        min-height: 400px;
        padding: 0 clamp(4px, 1vw, 16px) clamp(4px, 1vw, 16px);
        backdrop-filter: blur(40px);
        border-radius: clamp(4px, 1vw, 24px);

        @media (max-width: 768px) {
            padding: 16px;
            min-height: auto;
        }
    }
}