@use "../style" as *;

.contest_container {
    width: var(--container-width);
    min-width: 500px;
    min-height: var(--container-height);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: hidden;

    .upper_box{
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content:space-between;
        gap: 8px;

        .contest_banner {
            width: calc(100% - 28vh);
            height: 100%;
            border-radius: 24px;
            background: var(--blue-500);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contest_register {
            min-width: 28vh;
            height: 100%;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            background: var(--color-background-transparent);

            &:hover {
                background: var(--blue-400);
                opacity: 0.9;

                .machine,
                .plus,
                .register_text {
                    color: var(--color-dimgray);
                }
            }

            .machine {
                position: relative;
                left: 15px;
                color: var(--color-white);
            }

            .plus {
                position: relative;
                left: 0px;
                bottom: 35px;
                color: var(--color-white);
            }

            .register_text {
                font-size: var(--font-size-small);
                font-weight: bold;
                color: var(--color-white);
            }
        }
    }
}