.contest_detail_container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 30px;

    background: linear-gradient(to bottom, #071125, #0b1f65, #16488f, #0c2144, #071125);

    .box_upper_content {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 48px 48px 16px;
        flex-grow: 1;

        .contest_textbox {
            color: var(--color-white);
            flex-basis: 30%;

            .contest_name {
                position: relative;
                height: 56px;
                text-align: left;
                font-size: var(--font-title);
                font-weight: 900;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .contest_machines {
                padding-left: 16px;
            }
        }

        .contest_description {
            padding-left: 16px;
            padding-top: 16px;
            font-size: 20px;
            color: var(--color-white);
        }

        .contest_machines {
            padding-left: 16px;
            font-size: 20px;
            color: var(--color-white);

            li {
                padding-left: 16px;
            }
        }


        .right_part {
            display: flex;
            flex-basis: 51%;
            justify-content: space-between;

            .time_text {
                justify-self: right;
                align-self: self-end;
                text-align: right;
                font-size: var(--font-size-mid);
                font-weight: 600;
                color: var(--color-white);
            }

            .contest_reward_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 210px;
                border-radius: 24px;
                background-color: var(--blue-500);
                height: 77px;
                font-weight: 600;
                justify-self: right;

                .text,
                .reward_text {
                    padding-left: 30px;
                }

                .text {
                    color: var(--color-white);
                }

                .reward_text {
                    font-size: 24px;
                    color: #fbff8f;
                }
            }
        }


    }
}