@use "../style" as *;

.contest-banner-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;

  .carousel {
    height: 100%;
    border-radius: 24px;

    .banner-slide {
      padding: 16px 32px;
      height: 28vh;
      background: transparent;
      @include flex_center;

      .banner-contents {
        height: 100%;
        display: grid;
        align-items: center;
        width: 90%;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        white-space: nowrap;

        h3 {
          width: 100%;
          grid-column: 1 / -1;
          font-size: 1.8rem;
          font-weight: 600;
          color: white;
        }

        .contest-avatar {
          justify-self: center;
          grid-row: 1 / -1;
          grid-row-start: 2;
          width: clamp(80px, 8vw, 120px);
          height: clamp(80px, 8vw, 120px);
          top: 0;
          font-size: var(--font-title);
        }

        h4 {
          justify-self: flex-start;
          grid-column: 2;
          grid-row: 2/4;
          font-size: 2.8rem;
          color: var(--color-white);
        }

        .ramaining-time {
          justify-self: flex-end;
          grid-column: 2;
          grid-row: 4;
          color: var(--color-white);
          font-size: clamp(0.8rem, 2vw, 1.2rem);
        }

        .contest_reward_box {
          grid-column: 3;
          grid-row: 2/4;
          justify-self: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 80%;
          min-width: 175px;
          border-radius: 4px;
          background-color: var(--blue-400);
          height: 77px;

          .banner-exp,
          .exp {
            padding-left: 12px;
          }

          .banner-exp {
            font-size: var(--font-size-small);
            color: var(--color-white);
          }

          .exp {
            font-size: var(--font-size-mid);
            color: #fbff8f;
            font-weight: 600;
          }
        }

        .go-to-machine-btn {
          @include button_color;
          justify-self: center;
          width: 80%;
          min-width: 175px;
          grid-column: 3;
          grid-row: 4;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          white-space: nowrap;
          font-size: var(--font-size-small);
        }
      }
    }

    /* Customize Carousel Indicators */
    .MuiCarousel-indicator {
      background-color: #ccc;
      /* Inactive indicator color */
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 4px;
    }

    .MuiCarousel-indicator.Mui-selected {
      background-color: #3f51b5;
      /* Active indicator color */
    }

    .MuiSvgIcon-root {
      font-size: 1.2rem;
    }

    .MuiCarousel-indicators {
      bottom: 10px;
    }

    .MuiCarousel-navButtons {
      top: 45%;
    }
  }
}