@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


body {
	margin: 0;
	line-height: normal;
}

:root {
	--sidebar-width: 350px;
	--sidebar-collpased: 80px;

	/* fonts */
	--font-roboto: Roboto;
	--font-inter: Inter;
	--font-ibm-plex-sans: 'IBM Plex Sans';
  	
	/* font sizes */
	--font-size-mid-5: 17.5px;
	--font-roboto-size: 16px;
	--font-size-21xl: 40px;
	--font-size-5xl: 24px;


	/* Colors */
	--colors-neutral-grey-900: #3a383f;
	--colors-violet-50: #f7f3fd;
	--color-dimgray: #63666e;
	--color-white: #fff;
	--colors-others-color-blue-gray-200: #8ea6bf;
	--color-gainsboro: #e3e3e4;
	--colors-others-color-gray-400: #88909f;
}