@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

body {
	margin: 0;
	line-height: normal;
	scrollbar-width: none;
	scrollbar-color: var(--color-gray-400) transparent;
	
	&::-webkit-scrollbar {
        display: none;
    }
}

:root {
	/*
	1. 부모 컨테이너 요소 사이즈 mixin에서 background_set 사용하기
	2. 8배수로 공간 정리. 자식 요소간 공간 이격은 gap 사용. 작은 요소 8px, 큰 요소 16px, 필요 시 더 크게. (최대 40px)
	ex) 타이틀 밑에 설명 텍스트 있을 경우 Padding-left 이용해서 8 or 16px 이격해서 텍스트 간 간격 구분되게 사용
	3. 버튼 요소 mixin. button_color 사용하기
	4. 테이블 요소 justify-content: space-around 사용. thead 요소들 width 랑 tbody 요소 width 맞춰서 위 아래 정렬시키기
	5. font 들 아래 var 들 사용하기.
	6. 색상은 전부 var로 관리. 추가 시 색상 어두울수록 숫자가 크게

	!! 믹스인 최대한 활용 (재사용 잦은 경우 만들어서 넣어놓기) !!
	/*


	/* component size */
	--sidebar-width: 336px;
	--sidebar-collapsed: 80px;

	--container-width: 70vw;
	--container-min-width: 500px;
	--container-height: 80vh;
	--container-min-height: 700px;

	--profile-width: 360px;

	/* fonts */
	--font-roboto: Roboto;
	--font-inter: Inter;
	--font-ibm-plex-sans: 'IBM Plex Sans';
  	
	/* font sizes */							// * 다른 사이즈 이용하더라도 clamp 이용해서 페이지 축소 시 사이즈 글자 줄어들게 *
	--base-font-size: clamp(16px, 1.8vw, 20px);	// 기본 사이즈
	--font-size-large: clamp(28px, 3vw, 40px);	// 대
	--font-size-mid: clamp(18px, 2vw, 24px);	// 중
	--font-size-small: clamp(14px 1vw, 18px);	// 소
	--font-title : 3rem;						// Title급 글자 사이즈

	/* Colors */
	--color-background-transparent: #071125;
	--color-layout: #13151a;
	--blue-200: #16488F;
	--blue-300: #0B1F65;
	--blue-400: #0C2144;
	--blue-500: #071125;
	--lightblue-200: #2E74A0;

	--color-list-border: #EEEEEE;
	--colors-neutral-grey-900: #3a383f;
	--color-white-200: #f7f3fd;
	--color-dimgray: #63666e;
	--color-white: #fff;
	--colors-others-color-blue-gray-200: #8ea6bf;
	--color-gainsboro: #e3e3e4;
	--color-gray-400: #88909f;
	--color-red-rosso: #D10000;

	/* Gradient Colors */
	--gradient-container : linear-gradient(to bottom, #0b1f65, #16488f, #0c2144, #071125); // 컨테이너 배경. ex)CurrentUserInfo 배경 그라데이션

	/* Border */
	--border-container: 24px;
}