/* noto-sans-kr */
@font-face {
  font-family: 'Noto Sans KR Variable';
  font-style: normal;
  font-display: auto;
  font-weight: 100 900;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: auto;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300..900&display=swap');
}
