@mixin background_set {
    width: var(--container-width);
    min-width: var(--container-min-width);
    height: var(--container-height);
    min-height: var(--container-min-height);
    background: var(--color-background-transparent);
    border-radius: 24px;
}

@mixin flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button_color {
    background: var(--blue-400);
    color: var(--color-white);

    &:hover {
        background: var(--blue-200)
    }
}

@mixin scrollbar-none {
    scrollbar-width: none;
	scrollbar-color: var(--color-gray-400) transparent;
	
	&::-webkit-scrollbar {
        display: none;
    }
}