@mixin background_set {
    width: var(--container-width);
    min-height: var(--container-height);
    background: var(--color-background-transparent);
    border-radius: 24px;
}

@mixin flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}