:root {
    /* Font Definitions */
    --mainfont-noto: 'Noto Sans KR Variable', sans-serif;
    --mainfont-roboto: 'Roboto', sans-serif;

    /* Font Settings */
    font-family: var(--mainfont-noto), var(--mainfont-roboto);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;

    /* Font Optimization */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Media Queries */
@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}