.banner {
  width: 80%;
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.banner.small {
  max-width: 600px;
}

.banner.medium {
  max-width: 800px; 
}

.banner.large {
  max-width: 1000px; 
}

.banner.left {
  margin-left: 0;
}

.banner.right {
  margin-left: auto;
  margin-right: 0;
}

.swiper-container {
  width: 100%;
}

.home-img {
  width: 100%;
  height: auto;
  max-height: 330px; 
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff; 
  top: 50%;
  transform: translateY(-50%);
}
