.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(to bottom, #0b1f65, #16488f, #0c2144, #071125);
}

.main_container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    transition: padding-left 1s ease;
    overflow: hidden;
    flex-direction: column;

    .sidebar_container {
        position: fixed;
        width: var(--sidebar-width);
        height: 100vh;
        z-index: 3;  // 사이드바가 배경 위에 오도록 설정

        &.collapsed {
            width: var(--sidebar-collapsed);
        }
    }

    .upper_container {
        z-index: 2;
        width: 100vw;
        display: flex;

        .upper_bar {
            width: calc(100% - var(--sidebar-width));
            height: 85px;
            background-color: var(--color-layout);
            z-index: 1;
        }
        .profile_container {
            z-index: 3;
        }
    }

    .props_container {
        position: relative;
        flex-grow: 1;
        height: 100vh;
        padding-left: var(--sidebar-width);
        box-sizing: border-box;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 48px;
        margin-bottom: 24px;
        z-index: 1;

        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &.collapsed {
            padding-left: var(--sidebar-collapsed);
        }
    }
}
