.rank-table-container {
  font-family: Arial, sans-serif;
  border-color: white;
  border-radius: 5px;

  .rank-title {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .rank-table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;
    text-indent: 5px;
  }

  .rank-table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
    background-color: aliceblue;
  }
  
  .rank-table tbody {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  
  .rank-table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }

  .rank-col {
    width: 10%;
    text-align: center;
  }

  .user-col {
    width: 60%;

  }

  .points-col {
    width: 30%;

  }

  .rank-table .large {
    font-size: 1.2em;
  }

  .rank-table .small {
    font-size: 1em;
  }

}
