.sidebar__logo {
  border-bottom: 1px solid var(--black100);
  width: 100%;
  height: 80px;

  .link-logo {
    display: flex;
    align-items: center;
    height: 100%;
    
    padding: 10px;
    margin-left: 10px;
    .star {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 35px solid var(--red);
      position: relative;
      margin-right: 10px;
      animation: ani 10s ease-in-out infinite;
    }

    .star:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 35px solid var(--red);
      position: absolute;
      left: -20px;
      top: 10px;
    }

    span {
      padding-left: 10px;
      font-size: 20px;
      line-height: 1;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

@keyframes ani {
  0% {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(0.5);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}

.sidebar {
  padding: 10px 0;
  width: 100%;

  .sidebar-menu {
    border-bottom: 1px solid var(--black100);

    li {
      margin-bottom: 5px;

      a {
        font-size: 1rem;
        display: block;
        padding: 0.9rem 2rem 0.9rem 3.125rem;
        margin: 0 0.625rem;
        border-radius: 40px;
        position: relative;
        line-height: 1;
        color: var(--white200);
        transition: all 0.3s;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          position: absolute;
          left: 1.25rem;
          top: 0.75rem;
        }

        &:hover {
          background-color: var(--black100);
          color: var(--white);
        }
      }

      &.active a {
        background-color: var(--black100);
        color: var(--white);
      }
    }
  }
}