.Challenge-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    li {
        a {
            display: block;
            padding: 20px;
            background-color: #4CAF50;
            border-radius: 12px;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: background-color 0.3s;

            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }
        }
    }
}