.sign-up-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-500);
    border-radius: 10px;
    margin: 0;
}

.wrap {
    justify-content: center;
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: var(--blue-500);
    place-items: center;
    
    .sign-up-title h1 {
      margin-bottom: 30px;  
      color: var(--color-white);
      font-weight: 600;
    }

    .error-message {
        color: red;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .register-form {
        text-align: center;
        padding: 10px;
        position: relative;
        font-weight: 600;
    }

    .input-box {
        width: clamp(200px, 15vw, 400px);
        height: 50px;
        margin-bottom: 30px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
        input {
            width: 100%;
            height: 100%;
            background: #ddd;
            outline: none;
            border: 2px solid rgba(255, 255, 255);
            border-radius: 10px;
            font-size: 16px;
            color: #333;
            padding-left: 20px;
            transition: all 0.3s ease-in-out;

            &::placeholder {
                font-weight: 600;
                color: var(--blue-500);
            }

            &:focus {
                border: 2px solid var(--blue-500);
                transform: translateX(2px);
            }

        }
    }

    .sign-up-button {
        display: inline-block;
        padding: 10px 20px;
        width: clamp(200px, 15vw, 400px);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border: 2px solid var(--color-white);
        border-radius: 10px;
        color: var(--color-white);
        background-color: var(--blue-500);
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--blue-200);
            color: var(--color-white);
            transform: translateY(-2px);
            border: 2px solid transparent;
        }

        &:focus {
            outline: none;
        }
    }
}

