.mypage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_id-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    size: 50px;
    align-items: center;
}

.avatar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

