.unauthorized-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-layout);

  h1 {
    font-size: 3rem;
    color: #e74c3c;
    margin-bottom: 20px;
    font-weight: bold;
    filter: drop-shadow(0 0 10px #e74c3c);
  }

  p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-white);
  }

  
  .unauthorized_button {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--color-white);
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-2px);
      background-color: var(--blue-400);
      border: 2px solid transparent;
      filter: drop-shadow(0 0 10px var(--blue-500));
    }
  }
} 