.table_cell_widths {
  .table_name {
    width: 30%;
  }

  .table_category,
  .table_rating,
  .table_start_time,
  .table_end_time {
    width: 20%;
  }

  .table_playCount,
  .table_details,
  .table_reward {
    width: 10%;
  }
} 