// setting
@forward "setting/fonts";
@forward "setting/vars";
@forward "setting/reset";
@forward "setting/mixin";
@forward "setting/common";

// section
@use "section/layout.module.scss";
@use "section/sidebar.module.scss";
@use "section/profile.module.scss";

* {
    &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Opera
    }
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE, Edge
}